body{
  background: #f0f0f0;
}
.header{
  background: white;
}
.content{
  background: green;
}
h1, h2, h3{
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
h1{
  color: #D46767;
  transform: rotate(5deg);
  font-size: 300px;
  padding-top: 10px;
}
h2{
  color: #BB851B;
  font-size: 145px;
  margin-bottom: -70px;
}
h3{
  font-size: 140px;
  padding-bottom: 10px;
}
p{
  font-family: 'Montserrat', sans-serif;
  text-indent: 50px;
  line-height: 1.5;
}
@media only screen and (max-width: 1440px){
  h1{
    font-size: 100px;
  }
  h2{
    font-size: 70px;
  }
  h3{
    font-size: 70px;
  }
}
@media only screen and (max-width: 510px){
  h1{
    font-size: 70px;
  }
  h2{
    font-size: 50px;
    margin-bottom: -50px;
  }
  h3{
    font-size: 50px;
  }
}
